<h1>Forward Call</h1>
<div class="container" ng-if="!shouldDisplayForwardCall()">
    <p>You dont have sufficient rights to view this page</p>
</div>
<div class="container" ng-if="shouldDisplayForwardCall()">
    <div ng-if="!assignedOperation">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Priority</td>
                    <td>Street Nr</td>
                    <td>Country City Postalcode</td>
                    <td>What</td>
                    <td>Who</td>
                    <td>Additional Info</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="op in operations">
                    <td>{{op.priority}}</td>
                    <td>{{op.street}} {{op.nr}}</td>
                    <td>{{op.country}} {{op.city}} {{op.postalcode}}</td>
                    <td>{{op.what}}</td>
                    <td>{{op.who}}</td>
                    <td>{{op.additionalInfo}}</td>
                    <td><button class="btn btn-default" ng-click="takeOperation(op)">Take</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row" ng-if="assignedOperation">
        <button class="btn btn-lg" ng-click="finishOperation()">Finish Operation</button>
    </div>
</div>